<main>
  <div class='py-12 bg-white'>
    <div class='max-w-7xl mx-auto px-4 sm:px-6 lg:px-8'>
      <div class='lg:text-center'>
        <p
          class='mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl'
        >404 - Error</p>
        <p class='mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto'>Looks like
          the username or password you're trying to use is wrong. Try and
          <a
            href='/login'
            class='text-blue-500 font-bold hover:text-blue-700'
          >sign in</a>
          again, or
          <a
            href='/register'
            class='text-blue-500 font-bold hover:text-blue-700'
          >register</a>
          an account.</p>
      </div>
    </div>
  </div>
</main>